<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+ 패키지 가시성 (선택) -->
    <queries>
        <package android:name="net.daum.android.map" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kakaomap" />
        </intent>
    </queries>

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".kakao.MyApplication"
        android:allowBackup="true"
        android:label="TripChung"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripChung">

        <!-- Kakao Vector Map API 키는 application 내부에 -->
        <!--android:name="com.kakao.vectormpa.ApiKey"-->
        <meta-data
            android:name="com.kakao.vectormpa.ApiKey"
            android:value="85a2cf20033e7b1ea26ad4c739437917" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
